.Ecommerce ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

.Ecommerce li {
    display: inline-block;
    margin: auto;
}
/* .Ecommerce h5 {
    float: left;
} */
.Ecommerce a {
    text-decoration: none;
    color: black;
}

.Ecommerce a:hover,
.Ecommerce a:active,
.Ecommerce a.active {
    color: #fa923f;
}

.LinkR a.active{
    color: #fa923f;
}