.btn-circle.btn-sm { 
  width: 30px; 
  height: 30px; 
  padding: 6px 0px; 
  border-radius: 15px; 
  font-size: 8px; 
  text-align: center; 
} 
.btn-circle.btn-md { 
  width: 50px; 
  height: 50px; 
  padding: 7px 10px; 
  border-radius: 25px; 
  font-size: 10px; 
  text-align: center; 
} 
.btn-circle.btn-xl { 
  width: 50px; 
  height: 50px; 
  padding: 10px 16px; 
  border-radius: 35px; 
  font-size: 18px; 
  text-align: center; 
} 

  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#myform {
  text-align: center;
  padding: 5px;
  border: 1px dotted #ccc;
  margin: 2%;
}
.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

@media screen and (min-width: 120%){
  .card-horizontal {flex-direction: column;}
}

